html {
    max-width: 1200px;
}

.BloquePrincipal {
    background-color: black;
    padding: 10px;
    margin: 3%;
}

.ArribaBloquePrimero {
    background-color: cornflowerblue;
    padding: 10px;
}

.primerSubBloquePrimero {
    background-color: bisque;
    height: 20px;
    width: 20%;
    display: inline-block;
    margin-right: 1%;
}

.segundoSubBloquePrimero {
    background-color: bisque;
    height: 20px;
    width: 56%;
    display: inline-block;
    margin-right: 1%;

}

.tercerSubBloquePrimero {
    background-color: bisque;
    height: 20px;
    width: 20%;
    display: inline-block;

}

.AbajoBloquePrimero {
    background-color: coral;
    margin-top: 10px;
    padding: 10px;   
}
.AbajoSubBloquePrimero {
    background-color: yellow;
    height: 20px;
}

.IzqBloque {
    background-color: rgb(240, 175, 175);
    padding: 10px;
    width: 65%;
    display: inline-block;
    margin-right: 8px;
}

.SubBloqueIzqYDerecha {
    background-color: mediumaquamarine;
    height: 20px;
    width: 49%;
    margin-bottom: 10px;
    display: inline-block;
}

.subBloqueCentral {
    background-color: darkgrey;
    height: 20px;
}

.DerechaBloque {
    background-color: chocolate;
    padding: 10px;
    width: 31%;
    display: inline-block;

}

.SubBloqueCentro {
    background-color: yellow;
    height: 20px;
}

.marginBtn {
    margin-bottom: 10px;
}

.marginRight {
    margin-right: 1%;
}

.displayFlex {
    display: flex;
}

.subBloqueLargo {
    background-color: darkkhaki;
    height: 20px;
}



@media only screen and (max-width: 768px) {
    .ArribaBloquePrimero {
        padding: 16px;
    }
    .primerSubBloquePrimero {
        height: 25px;
    }

    .segundoSubBloquePrimero {
        height: 25px;
        margin-right: 14px;
        width: 54%;
    }

    .tercerSubBloquePrimero {
        height: 25px;
    }

    .AbajoBloquePrimero {
        padding: 16px;
        
    }
    .AbajoSubBloquePrimero {
        height: 25px;
    }

    .BloquePrincipal {
        padding: 16px;
    }

    .changesMQuery {
        background-color: chartreuse;
    }

    .SubBloqueIzqYDerecha {
        width: 47%;
    }

    .displayFlex {
        flex-direction: column;
    }

    .IzqBloque {
        background-color: brown;
        padding: 10px;
        width: 97%;
    }

    .marginRight {
        margin-right: 16px;
    }

    .SubBloqueIzqYDerecha {
        background-color: mediumaquamarine;
        height: 20px;
        margin-bottom: 10px;
        display: inline-block;
        width: 48%;
    }

    .DerechaBloque {
        background-color: chocolate;
        padding: 10px;
        width: 97%;

    }
 
}

@media only screen and (max-width: 600px) {
    .BloquePrincipal {
        padding: 40px;
    }

    .ArribaBloquePrimero {
        padding: 40px;
    }

    .primerSubBloquePrimero {
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .segundoSubBloquePrimero {
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .tercerSubBloquePrimero {
        height: 40px;
        width: 100%;
    }

    .AbajoBloquePrimero {
        margin-top: 40px;
        padding: 40px;
    }

    .AbajoSubBloquePrimero {
        height: 40px;
    }

    .IzqBloque {
        background-color: rgb(240, 175, 175);
        padding: 40px;
        width: 82%;
        margin-bottom: 25px;
    }

    .SubBloqueIzqYDerecha {
        background-color: rgb(93, 143, 127);
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
    }

    .subBloqueCentral {
        background-color: rgb(184, 254, 221);
        height: 40px;
    }

    .DerechaBloque {
        background-color: rgb(111, 72, 44);
        padding: 40px;    
        width: 82%;
    }

    .SubBloqueCentro {
        background-color: rgb(184, 151, 80);
        height: 40px;
    }

    .subBloqueLargo {
        background-color: darkkhaki;
        height: 40px;
    }
}