html {
    max-width: 1200px;
}

.BloquePrincipal {
    background-color: black;
    padding: 10px;
    margin: 3%;
}

.ArribaBloquePrimero {
    background-color: cornflowerblue;
    padding: 10px;
}

.primerSubBloquePrimero {
    background-color: bisque;
    height: 20px;
    width: 20%;
    display: inline-block;
    margin-right: 10px;
}

.segundoSubBloquePrimero {
    background-color: bisque;
    height: 20px;
    width: 56%;
    display: inline-block;
    margin-right: 10px;

}

.tercerSubBloquePrimero {
    background-color: bisque;
    height: 20px;
    width: 20%;
    display: inline-block;

}

.AbajoBloquePrimero {
    background-color: coral;
    margin-top: 10px;
    padding: 10px;
    
}
.AbajoSubBloquePrimero {
    background-color: yellow;
    height: 20px;
}

.IzqBloque {
    background-color: brown;
    padding: 10px;
    width: 65%;
    display: inline-block;
    margin-right: 8px;
}

.SubBloqueIzqYDerecha {
    background-color: mediumaquamarine;
    height: 20px;
    width: 48%;
    margin-bottom: 10px;
    display: inline-block;
}

.subBloqueCentral {
    background-color: darkgrey;
    height: 20px;
}

.DerechaBloque {
    background-color: chocolate;
    padding: 10px;
    width: 31%;
    display: inline-block;

}

.SubBloqueCentro {
    background-color: yellow;
    height: 20px;
}

.marginBtn {
    margin-bottom: 10px;
}

.marginRight {
    margin-right: 9px;
}

.displayFlex {
    display: flex;
}

.subBloqueLargo {
    background-color: darkkhaki;
    height: 20px;

}



@media only screen and (max-width: 768px) {
    .ArribaBloquePrimero {
        padding: 16px;
    }
    .primerSubBloquePrimero {
        height: 25px;
        margin-right: 14px;
    }

    .segundoSubBloquePrimero {
        height: 25px;
        margin-right: 14px;
        width: 54%;
    }

    .tercerSubBloquePrimero {
        height: 25px;
    }

    .AbajoBloquePrimero {
        padding: 16px;
        
    }
    .AbajoSubBloquePrimero {
        height: 25px;
    }

    .BloquePrincipal {
        padding: 16px;
    }

    .changesMQuery {
        background-color: chartreuse;
    }

    .SubBloqueIzqYDerecha {
        width: 47%;
    }

    .displayFlex {
        flex-direction: column;
    }

    .IzqBloque {
        background-color: brown;
        padding: 10px;
        width: 97%;
    }

    .marginRight {
        margin-right: 20px;
    }

    .SubBloqueIzqYDerecha {
        background-color: mediumaquamarine;
        height: 20px;
        margin-bottom: 10px;
        display: inline-block;
        width: 48%;
    }

    .DerechaBloque {
        background-color: chocolate;
        padding: 10px;
        width: 97%;

    }
 
}

@media only screen and (max-width: 600px) {
    .BloquePrincipal {
        padding: 25px;
    }

    .ArribaBloquePrimero {
        padding: 25px;
    }

    .primerSubBloquePrimero {
        height: 25px;
        width: 100%;
        display: inline-block;
    }
    
    .segundoSubBloquePrimero {
        height: 25px;
        width: 100%;
        display: inline-block;
    }
    
    .tercerSubBloquePrimero {
        height: 25px;
        width: 100%;
        display: inline-block;
    }
}